extends layoutHome
block content 
 link(href=`/bootstrap-3.3.7/css/carousel.css`, rel='stylesheet')
 // Carousel
    // ==================================================
 #myCarousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      .carousel-inner
        .item.active
          img(src='/images/la.jpg', alt='First slide')
          .container
            .carousel-caption
              h1 Singapore carving itself a spot on new global manufacturing value chains
              p
                |SINGAPORE is poised to be part of new global value chains in manufacturing  
                code file://
                |  amid a technological revolution in the sector,
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today
        .item
          img(src='/images/ny.jpg', alt='Second slide')
          .container
            .carousel-caption
              h1 Roadmap for electronics manufacturing aims to create 100 new jobs, $22b in value-add by 2020: 
              p
                | Iswaran
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Learn more
        .item
          img(src='images/chicago.jpg', alt='Third slide')
          .container
            .carousel-caption
              h1 One more for good measure.
              p
                | Here's a look at the average salaries for graduates at Singapore’s private education institutes
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Browse institutes
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
      // /.carousel
      .container.marketing 	
       .row
        .col-lg-4
          img.img-circle(src='/images/cluster_sustainibility.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 SUSTAINABILITY 
          p
            | To develop new integrated sustainability solutions for a rapidly urbanising Asia .. 
          p
            a.btn.btn-default(href='#', role='button') View details &raquo;
        .col-lg-4
          img.img-circle(src='/images/cluster_biomedical.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 BIOMEDICAL SCIENCE
          p
            | To be a key hub for medical and public health research , with a focus on Asian populations, 
          p
            a.btn.btn-default(href='#', role='button') View details &raquo;
        .col-lg-4
          img.img-circle(src='/images/cluster_ageing_asian.png', alt='Generic placeholder image', style='width: 140px; height: 140px;')
          h2 ASIAN STUDIES
          p
            | To develop special expertise, connections relating to key issues of critical importance to Asia., 
          p
            a.btn.btn-default(href='#', role='button') View details &raquo;
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | Global top 20 in four subjects. 
            span.text-muted It&apos;ll blow your mind.
          p.lead
            |The latest Times Higher Education World University Rankings by subject saw NUS ranked among the world’s top 20 in four subjects — Business and Economics; Computer Science; Engineering and Technology; and Physical Sciences. NUS was also ranked 8th in the world for Engineering and Technology.. 
        .col-md-5
          img.featurette-image.img-responsive(src='/images/the_subject_ranking-1.jpg', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-5.vcenter
          img.featurette-image.img-responsive(src='/images/Darwin-statue.jpg', alt='Generic placeholder image')
        .col-md-7.vtop
          h2.featurette-heading
            | Darwin and the origin of species. 
            span.text-muted
          p.lead
            | In 1859, Charles Darwin published a 500-page volume titled On the Origin of Species, a book that ... 
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            |Breaking new frontiers globally in scientific engineering 
            span.text-muted Checkmate.
          p.lead
            | NUS Engineering alumnus and CEO of local engineering company HOPE Technik shared his journey and the factors that led to his company’s success as a global brand.

        .col-md-5
          img.featurette-image.img-responsive(src='/images/PeterHO.jpg', alt='Generic placeholder image')
      hr.featurette-divider
      footer
        p.pull-right
          a(href='#') Back to top
        p
          | &copy; 2017 Company, Inc. &middot; 
          a(href='#') Privacy
          |  &middot; 
          a(href='#') Terms
 script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
 script(src=`/bootstrap-3.3.7/js/bootstrap.min.js`)
 script(src=`/bootstrap-3.3.7/js/holder.js`)
