doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Dashboard')
    meta(name='keyword', content='Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
    title JobsV2 Candidate Login Form
    // Bootstrap core CSS
    link(href='/jadeDash/css/bootstrap.css', rel='stylesheet')
    // external css
    link(href='/jadeDash/font-awesome/css/font-awesome.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/jadeDash/css/style.css', rel='stylesheet')
    link(href='/jadeDash/css/style-responsive.css', rel='stylesheet')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='/jadeDash/js/html5shiv.js')
      script(src='/jadeDash/js/respond.min.js')
  body
    //
      **********************************************************************************************************************************************************
      MAIN CONTENT
      ***********************************************************************************************************************************************************
    #login-page
      .container
        form.form-login(role='form', action='/candRegister', method='post')
          h2.form-login-heading Register now
          .login-wrap
            input.form-control(type='text', name="name", placeholder='Your Name', required, autofocus)
            br
            input.form-control(type='text', name='username', id='inputEmail', placeholder='Username', required, autofocus)
            br
            input.form-control(type='password', name='password', id='inputPassword', placeholder='Password', required, autofocus)
            label.checkbox
              span.pull-right
                a(data-toggle='modal', href='login.html#myModal')  
            button.btn.btn-theme.btn-block(type='submit')
              i.fa.fa-lock
              |  REGISTER
            hr
            .login-social-link.centered
              p or you can sign in via your social network
              button.btn.btn-facebook(type='submit')
                i.fa.fa-facebook
                |  Facebook
              button.btn.btn-twitter(type='submit')
                i.fa.fa-twitter
                |  Twitter
            .registration
              | 
              br
              a(href='#')
                | 
          // Modal
          #myModal.modal.fade(aria-hidden='true', aria-labelledby='myModalLabel', role='dialog', tabindex='-1')
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                  h4.modal-title Forgot Password ?
                .modal-body
                  p Enter your e-mail address below to reset your password.
                  input.form-control.placeholder-no-fix(type='text', name='email', placeholder='Email', autocomplete='off')
                .modal-footer
                  button.btn.btn-default(data-dismiss='modal', type='button') Cancel
                  button.btn.btn-theme(type='button') Submit
          // modal
    // js placed at the end of the document so the pages load faster
    script(src='/jadeDash/js/jquery.js')
    script(src='/jadeDash/js/bootstrap.min.js')
    // BACKSTRETCH
    // You can use an image of whatever size. This script will stretch to fit in any screen size.
    script(type='text/javascript', src='/jadeDash/js/jquery.backstretch.min.js')
    script.
      $.backstretch("/jadeDash/img/login-bg.jpg", {speed: 500});

